@charset "UTF-8";
body.contentpane {
    overflow: hidden;
}
.next_date {
    float: right;
}
#current_date {
    width: 400px;
    display: inline-block;
}
.adminlist {
    width: 100%;
}
#cboxLoadedContent {
    height: 454px !important;
}